[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".zinit"]
	path = .zinit
	url = https://github.com/zdharma-continuum/zinit.git
[submodule "navi/cheatsheet"]
	path = navi/cheatsheet
	url = git@github.com:HideOnLie/Cheatsheet-navi.git
	branch = main
	update=rebase
